*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size:20px;
    background-image: linear-gradient(navy, grey);
}
.titre{
    text-align: center;
    color: white;
    background-color: rgb(1, 1, 51);
    font-weight: normal;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}
table{
    width: 80%;
    background-color: white;
    margin: 20px auto;
    border-collapse: collapse;
}
.synopsis{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
}
.resume{
    padding: 8px;
    padding-bottom: 15px;
}
.afficheFilm{
    padding-left: 5px;
}
.distribution{
    background-color: rgb(18, 18, 118);
    color: white;
    font-size: 30px;
    padding-left: 8px;
}
.photoActeur{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.nom{
    font-weight: bold;
}
.role{
    font-weight: normal;
    font-style: italic;
    color: navy;
}
.lien{
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    list-style: disc;
    font-weight: normal;
}
.sousTitre{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    list-style: none;
    font-weight: bold;
}
